@import "tailwindcss";

/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

/* This file contains the global styles for the application */
/* ...existing code... */

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/poppins/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* ...existing code... */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffff;
  color: #333;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #333;
}

a:active {
  color: #333;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: none;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
}

button:active {
  background-color: #d0d0d0;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: none;
}

input {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
  background-color: #f0f0f0;
  border: none;
  padding: 0.5rem;
}

input:hover {
  background-color: #e0e0e0;
}

input:active {
  background-color: #d0d0d0;
}

input:focus {
  outline: none;
}

input:focus-visible {
  outline: none;
}

textarea {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
  background-color: #f0f0f0;
  border: none;
  padding: 0.5rem;
}

textarea:hover {
  background-color: #e0e0e0;
}

textarea:active {
  background-color: #d0d0d0;
}

textarea:focus {
  outline: none;
}

textarea:focus-visible {
  outline: none;
}

ul {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
}

ol {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
}

li {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
}

li:hover {
  text-decoration: underline;
}

li:active {
  text-decoration: underline;
}

li:focus {
  outline: none;
}

li:focus-visible {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

img:hover {
  cursor: pointer;
}

img:active {
  cursor: pointer;
}

img:focus {
  outline: none;
}

img:focus-visible {
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col {
  flex: 1;
  padding: 0 1rem;
}

.col-1 {
  flex: 0 0 8.33%;
}

.col-2 {
  flex: 0 0 16.66%;
}

.col-3 {
  flex: 0 0 25%;
}

.col-4 {
  flex: 0 0 33.33%;
}

.col-5 {
  flex: 0 0 41.66%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-7 {
  flex: 0 0 58.33%;
}

.col-8 {
  flex: 0 0 66.66%;
}

.col-9 {
  flex: 0 0 75%;
}

.col-10 {
  flex: 0 0 83.33%;
}
/* use 0px when you don't want it to show the scroll-bar or else any other pixel*/  
::-webkit-scrollbar {
  width: 0px;
}
/*
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 5px;
  border: 2px solid #1a1a1a;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
::-webkit-scrollbar-thumb:active {
  background-color: #888;
}
::-webkit-scrollbar-corner {
  background: #1a1a1a;
}*/